* {
  margin: 0;
  padding: 0;
}

h1 { 
  background-image: url("https://portogente.com.br/images/portopedia/2017/tecno-da-_Infor-aplicada-%C3%A0-_log-fig-1.jpg");
  height: 100px;
  text-align: center;
  padding-top: 50px;
  color: white;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px;
  border: 12px;
  height: 100px;
}

ul {
  display: block;
  padding-right: 450px;
  padding-left: 450px;
}

.ling {
  text-align: center;
  width: 350px;
  color: white;
  border-radius: 5px;
  background-color: #30739c;
  margin: 10px;
  font-size: 20px;
  display: block;
  margin-bottom: 15px;
  padding: 5px;
}

button{
  width: 90px; height: 30px; margin: 9px;
}
input{
  height: 30px; width: 300px; margin: 9px;
}
p {
  display: block;
  background-color: #ffffff;
  height: 100%;
  text-align: center;
}

.success {
  background-color: #1aa850; margin: 10px; padding: 10px;
  width: 400px;
  color: white;
  border-radius: 5px;
}

.messages {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}